* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: rgb(215, 208, 221);
  }
  #coverimg {
    width: 320px;
    height: 320px;
    position: absolute;
    bottom: 0px;
    top: 120px;
    display: none;
  }
  #form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  #form input {
    text-decoration: none;
    width: 8.6rem;
    height: 2rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(215, 208, 221);
  }

  ::placeholder {
    padding-left: 9px;
  }
  .head-one {
    font-size: 14px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-color: blue;
    color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 50px;
  }
  .head-one span {
    padding-left: 5px;

  }
  .sub-head {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
  }
  
  #submit {
    color: rgb(255, 255, 255);
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 17px;
    border: none;
    padding: 7px 28px;
    margin-top: 20px;
    border-radius: 15px;
  }

  .footer {
    font-size: 12px;
    position: relative;
    top: 50px;
    margin-left: 10px;
    text-align: center;
  }
  
  @media screen and (min-width: 995px) {
    #form {
      margin: 0px 4.5rem;
    }
  }
  
  @media screen and (min-width: 995px) {
    #form {
      margin: 4rem 16rem 0 16rem;
    }
    .head-one {
      margin: 5rem 16rem 0 16rem;
    }
    .sub-head {
      margin: 0 16rem;
    }

    #coverimg {
      margin: 0px 500px 0px 500px;
      height: 320px;
      position: absolute;
      bottom: 0px;
      top: 120px;
      display: none;
    }
  }
  